#menu {
    display: flex;
}

.menu-item {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
}

.services {
    color: #090909;
    background-color: #42c400;
    border-color: #318600;
}
.quote {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.wallpapers {
    color: #fff;
    background-color: #7a7a7a;
    border-color: #5c5c5c;
}

#contact {
    width: 300px;
    color: rgb(192, 219, 231)
}
