#menu {
    display: flex;
}

.menu-item {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
}

.services {
    color: #090909;
    background-color: #42c400;
    border-color: #318600;
}
.quote {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.wallpapers {
    color: #fff;
    background-color: #7a7a7a;
    border-color: #5c5c5c;
}

#fourlambda {
    font-family: 'Jura', 'sans-serif';
    color: #fff9ee;
    font-size: 72px;
}

.jumbotron {
    background-color: #49525a;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

html, body {
    height: 100%;
    background-color: #272a2e;
}

#contact {
    width: 300px;
    color: rgb(192, 219, 231)
}

#terminal {
    color: #211f28;
    font-family: 'VT323', monospace;
    font-size: 20px;
    vertical-align: bottom;
    background-color: #bbf060;
    border-radius: 5px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.blinkme {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
