{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang=en {% endblock %}
{% block title %}4&#955;{% endblock %}
{% set title = "4Lambda" %}
{% set description = "Technology Partner." %}
{% set email = "rusty@4lambda.io" %}
{% set favicon = url_for('static', filename='favicon.ico') %}
{% block metas %}
    <meta name=description content="4&#955;"/>
    <meta name=viewport
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% include 'google.html' %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel=icon href="{{ favicon }}" type="image/x-icon">
    <link rel=stylesheet href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class=row>
                <div class="center-block">
                    <header>
                        <h2 class="text-center"><strong>4&#955;</strong></h2>
                    </header>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
