{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang=en {% endblock %}
{% block title %}4&#955;{% endblock %}
{% set title = "4Lambda" %}
{% set description = "Technology rocks.." %}
{% set email = "d@4lambda.io" %}
{% set favicon = url_for('static', filename='favicon.ico') %}
{% block metas %}
    <meta name=description content="4&#955;"/>
    <meta name=viewport
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:title" content="4&#955;"/>
    <meta property="og:type" content=article/>
    <meta property="og:url" content="https://www.4lambda.io"/>
    <meta property="og:image"
          content="{{ favicon }}"/>
    <meta property="fb:admins" content="{{ email }}"/>
    <meta property="og:site_name" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>

    <meta name="twitter:card" content=summary/>
    <meta name="twitter:site" content="@rbunch"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image"
          content="{{ favicon }}"/>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel=icon href="{{ favicon }}" type="image/x-icon">
    <link rel=stylesheet href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}
{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container-fluid">
            <div class=row>
                <div class="center-block">
                    <header>
                        <h2 class="text-center"><strong>4&#955;</strong></h2>
                    </header>
                </div>
                <div class=row>
                    <div class="text-center">
                    {% for menu_item in menu_items %}
                        {% set template = menu_item + '.html' %}
                        <a class="btn btn-default btn-block {{ menu_item.lower() }}
                              glyphicon glyphicon-{{ menu_item }}"
                           role=button
                           data-toggle=collapse
                           data-target="#collapse{{ menu_item }}"
                           aria-expanded=false
                           aria-controls="collapse{{ menu_item }}">
                        </a>
                    </div>
                </div>
                <div class=collapse id="collapse{{ menu_item }}">
                    <div class="well well-lg">
                        <div class=row>
                        {% include template %}
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
