{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" {% endblock %}
{% block title %}4&#955;{% endblock %}
{% block metas %}
<meta name="description" content="4444"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock %}
{% block styles %}
{{super()}}
<!--STYLE-->
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<!--FONTS-->
<link href="https://fonts.googleapis.com/css?family=Jura:500,400" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
<!--FAVICONS-->
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"
      href="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
{% endblock %}
{% block content %}
<div class="jumbotron vertical-center">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block">
                <h1 class="text-center" id="fourlambda">
                    <strong>4&#955;</strong>
                </h1>
                <p class="well well-sm">
                    $> echo "Welcome $REMOTE_ADDRESS"<br>
                    Welcome {{ remote_address }}<br>
                    $><span class="blinkme">_</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="pull-left" id="contact">
                    <address class="text-left">
                        <ul class="list-unstyled">
                            <li>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> :
                                <strong>Russell Bunch</strong><br>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> :
                                <abbr title="Phone">(612) 548-1885</abbr>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> :
                                <a href="mailto:wm@4lambda.io">contact@4lambda.io</a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
            <div class="col-md-4 hidden-sm"></div>
            <div class="col-md-4 hidden-sm"></div>
        </div>
    </div>
</div>
{% endblock %}
