{% block content %}
<div>
    <address class="text-left">
        <ul class="list-unstyled">
            <li>
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> :
                <abbr title="Phone">(612)-548-1885</abbr>
            </li>
            <li>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> :
                <a href="mailto:contact@4lambda.io">contact@4lambda.io</a>
            </li>
        </ul>
    </address>
</div>
{%  endblock %}
