{% set telephone = '612-548-1885' %}
{% set email = 'rusty@4lambda.io' %}
{% block content %}
    <div class="col-xs-6">
        {# FIXME: Center this image... it's a pain in the ass. #}
        <img class="img-circle img-responsive"
             src="https://www.gravatar.com/avatar/7b1492b7f296b2269c880fce227c1e78"/>
    </div>
    <div class="col-xs-6">
        <address class="text-right text-muted">
            <ul class="list-unstyled">
                <li>
                    <h3>Russell Bunch</h3>
                </li>
                <li>
                    <a href="tel:{{ telephone }}">
                        ({{ telephone[:3] }}){{ telephone[3:] }}
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ email }}">
                        {{ email }}
                    </a>
                </li>
            </ul>
        </address>
    </div>
{% endblock %}
